*{
font-family: 'Noto Sans JP', sans-serif;
}
body{
background:#fff;
}
#dots{
width:100%;
font-size:5.75vw;
line-height:0.95;
letter-spacing:-0.8vw;
text-align:center;
user-select:none;
}
#outputbt{
background:#999;
border:2px solid black;
border-radius:3px;
width:200px;
text-align:center;
margin:40px auto;
font-weight:900;
}
#outputbt:active{
background:#000;
color:white;
}
#outputarea{
height:250px;
width:100%;
}
#image{
width:260px;
height:260px
}
.hl{
width:100%;
background:#999;
font-weight:900;
margin-bottom:10px;
text-align:center;
}
.colorarea{
font-weight:900;
text-align:center;
margin-top:20px;
}
#colorcode{
position:relative;
top:5px;
height:16px;
width:100px;
}
#colorsample{
position:relative;
top:3px;
font-weight:normal;
font-size:25px;
margin-left:20px;
}