@font-face {
  font-family: "number";
  src:
    local("number"),
    url("fonts/7barP.TTF") 
}
html{
  min-height:100%;
}
body {
  background:linear-gradient(#faa,#afa);
  background-size:cover;
}
#hamlan,#mibaNeo,#info{
  font-weight:900;
  text-shadow:0 0 1px #fff;
  width:90vw;
  padding:5px;
  margin: 10px auto;
  box-sizing:border-box;
  box-shadow:0 0 1px 1px #333;
  border-radius:10px;
  text-align:center;
  font-size:22px;
}
.title{
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  padding:3px;
  font-size:20px;
  border-bottom:solid 1px
}
.anniversary_title{
  font-size:20px;
}
#mibaNeo{
  background:linear-gradient(#8f8,#cfc);
}
#hamlan{
  background:linear-gradient(#f88,#fcc);
}
#mibaNeoAnniversary, #hamlanAnniversary{
  font-size:45px;
  background:linear-gradient(#caa906,#fff,#caa906);
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow:none;
  -webkit-text-stroke:1px #333;
  color:rgba(0,0,0,0);
}
#mibaNeo_clock_diff,#mibaNeo_clock_anniversary,#hamlan_clock_diff,#hamlan_clock_anniversary{
  font-family:'number',sans-serif;
}
#info{
  font-size:20px;
  background:linear-gradient(#ccc,#fff);
}
