html{
  min-height:100%;
}
body {
  background:linear-gradient(#faa,#afa);
  background-size:cover;
}
#hamlan,#mibaNeo{
  font-weight:900;
  text-shadow:0 0 1px #fff;
  width:90vw;
  padding:5px;
  margin: 10px 5vw;
  box-sizing:border-box;
  box-shadow:0 0 1px 1px #333;
  border-radius:10px;
  text-align:center;
}
.title{
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  padding:3px;
  font-size:26px;
  border-bottom:solid 1px
}
.anniversary_title{
  font-size:22px;
}
#mibaNeo{
  background:linear-gradient(#8f8,#cfc);
}
#hamlan{
  background:linear-gradient(#f88,#fcc);
}
#mibaNeo .title{
  background-color:#5f5;
}
#hamlan .title{
  background-color:#f55;
}
