#pop{
width:100vw;
height:100vh;
position:fixed;
top:0;
left:0;
z-index:2147483647;
display:none;
background:#fff;
}

#cover{
display:none;
justify-content:center;
align-items:center;
width:100vw;
height:100vh;
position:fixed;
top:0;
left:0;
z-index:2147483647;
background:#333;
color:#fff;
opacity:0.5;
font-weight:900;
}

.message {
padding:5px 0;
}

.time{
  font-size:8px;
  color:#955;
}
