body{
background:#eee;
color:#333;
}
#pop{
width:100vw;
height:100vh;
position:fixed;
justify-content:center;
align-items:center;
top:0;
left:0;
z-index:2147483647;
display:none;
background:rgba(51,51,51,0.5);
}
#popc{
  width:90%;
  height:75%;
  background:#eee;
  border-radius:15px;
  padding:10px;
  box-shadow:2px 2px 2px #000;
}
#closebt{
  position:absolute;
  right:0;
  width:35px;
  height:35px;
  background-color:#333;
  background-image:url(../images/adclose.png);
  background-size:cover;
  opacity:0.8;
  border-radius:50%;
}
#cover{
display:none;
justify-content:center;
align-items:center;
width:100vw;
height:100vh;
position:fixed;
top:0;
left:0;
z-index:2147483647;
background:#333;
color:#fff;
opacity:0.7;
font-weight:900;
}

.message{
padding:15px 0;
}

.time{
font-size:10px;
color:#955;
}
