*{
font-family: 'Noto Sans JP', sans-serif;
}
body{
background:#eee;
color:#333;
}
#pop{
width:100vw;
height:100vh;
position:fixed;
justify-content:center;
align-items:center;
top:0;
left:0;
z-index:2147483647;
display:none;
background:rgba(51,51,51,0.5);
}
#popc{
  width:90%;
  height:75%;
  background:#eee;
  border-radius:15px;
  padding:10px;
  box-shadow:2px 2px 2px #000;
}
#closebt{
  position:absolute;
  right:0;
  width:35px;
  height:35px;
  background-color:#333;
  background-image:url(../images/adclose.png);
  background-size:cover;
  opacity:0.8;
  border-radius:50%;
  border:solid 3px #333;
}
#cover{
display:none;
justify-content:center;
align-items:center;
width:100vw;
height:100vh;
position:fixed;
top:0;
left:0;
z-index:2147483647;
background:#333;
color:#fff;
opacity:0.7;
font-weight:900;
}

.message{
padding:15px 0;
}

.time{
font-size:10px;
text-shadow:0 0 1px #666;
color:#955;
}
#nameArea,#title,#passwordArea{
  margin:5px 0;
  box-shadow:1px 1px 1px #333;
  border-radius:5px;
  width:70%;
  border:solid 1px #888;
}
#message{
  margin:6px 0;
  box-shadow:1px 1px 1px #333;
  border-radius:5px;
  width:85%;
  height:35%;
  border:solid 1px #888;
}
#errorText,#popError{
  color:#f00;
}
.bt{
  height:25px;
  margin:3px;
  background:linear-gradient(#ccc,#ddd);
  border:none;
  border-radius:5px;
  box-shadow:0 1px 1px #333;
  font-weight:900;
  vertical-align: middle;
}
.bt:active{
  position:relative;
  top:1px;
  box-shadow:none;
}
.bt:disabled{
  box-shadow:none;
  background:linear-gradient(#ddd,#eee);
  border:solid 1px #ccc;
  pointer-events: none;
}
.reviewedBt{
  color:#58f;
  border:solid 1px #58f;
  box-shadow:0 1px 1px #7af;
}
.res{
  background:#fff;
  margin:15px 5px;
  padding:10px;
  border-radius:10px;
  box-shadow:1px 1px 1px #999;
  border:solid 0.5px #bbb;
}
#rom{
  margin-right:5px;
  padding:2px 5px;
  color:#fff;
  background:#333;
  border-radius:100px;
  font-weight:900;
}
